* {
  font-family: 'Raleway', sans serif;
}
#home {
  background: black;
  color: lightgrey;
}
.bg {
  position: absolute;
  height: 100%;
  margin: 0 auto;
}
#x {
  background: gold;
  transform: skewY(100deg);
  height: 100px;
}
.container {
  max-width: 1200px;
  height: 100%;
  font-size: 15px;
  padding: 20px;
}
.header {
  font-size: 2.5rem;
  color: crimson;
}
h1, h2 {
  margin: 15px 0 10px 0;
}
h2 {
  color: #777;
}
ul {
  margin: 0;
}
a {
  text-decoration: none;
  color: crimson;
}
u {
  text-decoration: none;
  color: gold;
}
.about {
  color: crimson;
  font-size: 2em;
  max-width: 1200px;
  margin: auto;
  line-height: 1.5;
}
.keyword {
  border-bottom: 1px solid gold;
}
.services {
  margin-top: 20px;
  font-size: 2em;
}
.services h2 {

}
.process {
  font-size: 2em;
}
.cta {
  font-size: 2em;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .container {
    font-size: 25px;
  }
  h1 {
    font-size: 2.5em;
  }
}
